.wrapper {
  max-width: 1300px;
  margin: 50px auto;
  color: #fff;
  text-align: center;
}

/* ---------- Bộ lọc ---------- */
.filterBar {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.filterBtn {
  background: none;
  border: 1px solid #00e6b8;
  color: #00e6b8;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.25s ease;
}

.filterBtn:hover {
  background: #00e6b8;
  color: #000;
}

.active {
  background: #00e6b8;
  color: #000;
}

/* ---------- Slider ---------- */
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.sliderContainer {
  overflow: hidden;
  width: 100%;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.card {
  min-width: calc(100% / 4);
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.image {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
}

.title {
  margin-top: 10px;
  font-size: 16px;
  color: #ccc;
}

.tag {
  position: absolute;
  top: 15px;
  left: 15px;
  background: rgba(0, 230, 184, 0.8);
  color: #000;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}

.arrowLeft,
.arrowRight {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.arrowLeft:hover,
.arrowRight:hover {
  background: rgba(0, 0, 0, 0.7);
}

.arrowLeft:disabled,
.arrowRight:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/* ---------- Responsive ---------- */
/* @media (max-width: 900px) {
  .card {
    min-width: calc(100% / 2);
  }
}

@media (max-width: 600px) {
  .card {
    min-width: 100%;
  }
} */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
}

.lightboxImage {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}
