.projectPage {
  padding: 90px 0;
  text-align: center;
  color: #fff;
  background-color: #000000;
}

.header {
  margin-bottom: 30px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 0.9rem;
  color: #ccc;
}

.tabContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

.tab {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: #aaa;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.tab:hover {
  color: #fff;
}

.active {
  color: #00ffff;
  border-bottom: 2px solid #00ffff;
}

.sectionContainer {
  margin-top: 40px;
}
