/* Mặc định: nền trắng */
.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

html {
  scroll-behavior: smooth;
}

/* Áp dụng cho toàn bộ trang */
::-webkit-scrollbar {
  width: 10px; /* độ rộng thanh cuộn dọc */
  height: 0; /* độ cao thanh cuộn ngang */
}

::-webkit-scrollbar-track {
  background: #121212; /* nền track tối, phù hợp nền đen */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #212121; /* thumb màu xám sáng để nổi bật */
  border-radius: 10px;
  border: 2px solid #121212; /* khoảng cách giữa thumb và track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #353535; /* sáng hơn khi hover */
}
/* @media (max-width: 480px) {
  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
@media (max-width: 768px) {
  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
} */
@media (max-width: 1024px) {
  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
